<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="eventForm">
    <form th:action="@{/admin/events/save}"
          th:object="${eventForm}"
          method="post">

        <h2>Event</h2>

        <div>
            <label>Event Name</label>
            <input type="text" th:field="*{eventName}">
        </div>

        <div>
            <label>Date</label>
            <input type="date" th:field="*{eventDate}">
        </div>

        <h2>Venue</h2>

        <div>
            <label>Venue</label>
            <select th:field="*{venueId}">
                <option value="" disabled selected>Selecciona un venue</option>
                <option th:each="venue : ${venues}"
                        th:value="${venue.id}"
                        th:text="${venue.name} + ' - ' + ${venue.city}">
                </option>
            </select>
        </div>

        <div>
            <label>Categorías</label>
            <div th:each="category : ${categories}">
                <label>
                    <input type="checkbox" th:field="*{categoryIds}" th:value="${category.id}">
                    <span th:text="${category.name}"></span>
                </label>
            </div>
        </div>

        <button type="submit">
            Save
        </button>

    </form>
</div>

</body>
</html>